body {font-family: 'Lato', Arial;color: #666666;-webkit-font-smoothing: antialiased; background-color:#C2C2C2}
a {font-family: 'Lato', Arial;-webkit-font-smoothing: antialiased;}
div.content {overflow: hidden;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {color: #666666; font-family: 'Raleway', sans-serif; font-weight:500}



section#demo { background:url(../img/bg_1.png) repeat-x;  min-height:500px}
section.demo .section-heading h1, section.demo .section-heading h6{ color:#fff}
section.demo .section-heading .divider::after{ background:#fff}